*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.app-principal{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: white;
}
.app-aside-table{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 88vh;
    background-color: transparent;
}
.app-aside{
    width: 400px;
}
.appmusic{
    width: calc(100% - 400px);
}